body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

section{
  background-color: orange;
  padding: 2rem;
}


article{
  background-color: dodgerblue;
  padding: 2rem;
}


p{
  background-color: hotpink;
  padding: 2rem;
}